[requires]
python_version = "3.6"

[scripts]
dotenv = "./dotenv.sh"
test = "py.test"

[packages]
arrow = "==0.12.1"
black = "==18.9b0"
flake8 = "==3.5.0"
ipython = "==7.2.0"
pyflakes = "==1.6.0"
pytest = "==3.5.1"

[pipenv]
allow_prereleases = true
